# Configurações do Servidor
PORT=3000
NODE_ENV=development

# MongoDB
MONGODB_URI=mongodb+srv://devfiuza:Demerval739$@fzone.447xln8.mongodb.net/?retryWrites=true&w=majority&appName=FZone

# JWT
JWT_SECRET=sua_chave_secreta_super_segura_aqui

# Frontend URL (para CORS)
FRONTEND_URL=http://localhost:5173

# Versão do Node.js (para Render.com)
NODE_VERSION=16.x